!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GroceryData
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    .header
      %h2
        -if current_customer
          = link_to 'Sign Out', destroy_customer_session_path, method: destroy
        -else 
          = link_to 'Sign In', new_customer_session_path
          = link_to 'Sign Up', new_customer_registration_path
      .header__alerts
        %h3.notice
          = notice
        %h3.alert
          = alert

    .body

      = yield




